
body{
    color: rgb(24, 47, 119);
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}
div{
    background-color: aliceblue;
}
h1{
    margin: 50px auto 0px auto;
    font-family: 'Montserrat', cursive;
    font-size: 5.625rem;
    color: #668F8F;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #668F8F;
    font-weight: 200;
    padding-bottom:10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
    line-height: 2;
}
hr{
    border: dotted #70bebe 30px;
    width:25%;
    margin: 100px auto;
}
form{
    margin:  auto;
    width: 80%;
    
}
label,
input {
  /* In order to define widths */
  display: inline-block;
}

label {
  width: 30%;
  /* Positions the label text beside the input */
  text-align: right;
}

label+input {
  width: 30%;
  
  
}
.contact{
    font-size: 2rem;
    font-family: "ubuntu";
}


/* Only the submit button is matched by this selector,
       but to be sure you could use an id or class for that button */

       input+input {
        float: right;
      }





.top-container {
    background-color: cyan;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color: #668F8F;
    padding: 50px 0 20px 0;
}
.profile{
    background-color: aliceblue;
}
.intro{
    width:30%;
    margin:auto
}


.bottom-cloud{
    position:absolute;
    right:300px;
    
    bottom: 300px;

}
.top-cloud{
    position: absolute;
    left: 300px;
    top:50px

}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.video{
    width:25%;
    float:left;
    margin-right: 30px;

}
.art{
    width:25%;
    float:right;
    margin-left: 30px;


}
.skill1-description{
    clear: left;
}
.skill2-description{
    clear: right;
}
.btn {
    background: #34d9d3;
    background-image: -webkit-linear-gradient(top, #34d9d3, #1b8767);
    background-image: -moz-linear-gradient(top, #34d9d3, #1b8767);
    background-image: -ms-linear-gradient(top, #34d9d3, #1b8767);
    background-image: -o-linear-gradient(top, #34d9d3, #1b8767);
    background-image: linear-gradient(to bottom, #34d9d3, #1b8767);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
 a{
     color: #ececec;
     font-family: 'Montserrat',sans-serif;
     margin: 10px 20px;
     text-decoration: none;
 }
 a:hover{
     color: #3cb0fd;
 }
 .footer-link{
     color: aqua;
 }
 .copyright{
     font-size: 0.80rem;
     color: #ececec;
     padding:20px 0;
 }